h1, p, li {
    text-align: center;
}
h1:hover {
    color: black
}
li {
    color: black;
}
body {
    background-color: steelblue;
    text-align: center;
}
img {
    width: 25%;
    display: block;
}