h1, p, li {
    text-align: center;
}
h1:hover {
    color: black;
}
li {
    color: black;
}
body {
   text-align: center;
}
#image_container img {
    max-width: 25%;
    max-height: auto;
    display: block;
}