body {
    background-color: steelblue;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bold;
    color: white
}
h1:hover {
    color: black;
}
li {
    color: black;
}
#image_container img {
    max-width: 100px;
    display: block;
}
footer {
    background-color: steelblue;
}