#Circles {
    width: 100%;
    length: auto;
}
#image_container {
    background-color: grey;
    width: 100%;
    length: auto;
   text-align: center;
}
#Desk, #Graphic, #Person {
    border-radius: 50%;
    border: 15px solid;
    border-color:#414141;
    max-width: 300px;
    display: inline-block;
    margin: 50px;
}