* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
#Circles {
    width: 100%;
    length: auto;
    margin: 0px;
}
#image_container {
    background-color: grey;
    width: 100%;
    length: auto;
    text-align: center;
    margin: 0px;
}
#Desk, #Graphic, #Person {
    border-radius: 50%;
    border: 15px solid;
    border-color:#414141;
    max-width: 300px;
    display: inline-block;
    margin: 50px;
}