.home-grid {
    display: grid;
    grid-template-columns: 1fr, 1fr;
}
img {
    background-color: white;
    grid-column: 1/2;
    grid-row: 1/2;
}
h1 {
    color: black;
    font-size: 120px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    align-self: center;
    grid-column: 1/3;
    grid-row: 1/2;
}
.gray-container {
    background-color: rgb(182, 182, 182);
    color: rgb(153, 17, 17);
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
    grid-column: 2/3;
    grid-row: 1/2;
}