body {
    margin: 0;
    padding: 0;
}
.home-grid {
    display: grid;
    grid-template-columns: 1fr, 1fr;
    grid-gap: 0px;
}
img {
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: white;
}
h1 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 40px;
    color: black;
    align-self: center;
    text-align: center;
    grid-column: 1/3;
    grid-row: 1/2;
    z-index: 1;
}
.gray-container {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: darkred;
    align-self: bottom;
    text-align: center;
    background-color: gray;
    grid-column: 2/3;
    grid-row: 1/2;
}