@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #a71a1a;
}